<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vue组件练习</title>
</head>
<body>
  <div id="app">
    {{message}}
    <todo-list></todo-list>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
  Vue.component('todo-item', {
    template: `
    <li>
      <span v-if="!del">{{title}}</span>
      <span v-else style="text-decoration: line-through;">{{title}}</span>
      <button @click="change">删除</button>
    </li>
    `,
    props: {
      title: String,
      del: {
        type: Boolean,
        default:false,
      },
    },
    data: function(){
      return{}
    },
    methods: {
      change(){
        console.log('删除')
        this.del = !this.del
        this.$emit('delete',this.title)
        
      }
    },
  })
  Vue.component('todo-list', {
    template: `
      <ul>
        <todo-item @delete="handleVal" v-for="item in list" :title="item.title" :del="item.del"></todo-item>
      </ul>
    `,
    data: function(){
      return{
        list:[{
          title:"第一次课程",
          del: false
        },{
          title:"第二次课程",
          del: true
        }]
      }
    },
    methods: {
      handleVal(val){
        console.log('todo-list',val)
      }
    },
  })


  
  var vm = new Vue({
    el:'#app',
    data:{
      message:"Hello world",
      
    }
  })

  
  </script>
</body>
</html>